/* src/styles/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
  background-color: #f5f7fa;
  color: #333333;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}


/* Light theme */
.app-container.light {
  color: #333333;
}
.app-container.light .input-box {
  background-color: #ffffff;
}