/* src/styles/App.css */

/* Container styles */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Light theme */
.app-container.light {
  color: #000000;
}
.app-container.light .input-box {
  background-color: #f9f9f9;
}