/* src/styles/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* Light theme */
.app-container.light {
  color: #000000;
}
.app-container.light .input-box {
  background-color: #f9f9f9;
}